@page
@model prueba_agenda.Pages.IndexModel
@{
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="estilos.css">
    <title>INICIO</title>
</head>
<body>
    <div class="container contenedor">
        <!--Barra de Navegacion-->
        <nav class="navbar navbar-expand-lg navbar-dark justify-content-end">
            <div class="row mx-1">
                <div class="col">
                    <a class="navbar-brand " href="index.html">
                        <img class="img-fluid logo m" src="../imagenes/iconoitsc3.png" alt="logo instituto">
                    </a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ">
                    <li class="nav-item navinicio start-0"><a href="index.html" class="nav-linK">INICIO</a></li>
                    <li class="nav-item dropdown">
                        <a href="" class="nav-linK dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" id="dropdown-menu">LEGAJOS</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-menu">
                            <li class="dropdown">
                            <li><a href="buscar_legajos.html" class="dropdown-item">BUSCAR LEGAJOS</a></li>
                            <li class="hd"></li>
                            <li><a href="Profesores.html" class="dropdown-item">AGREGAR PROFESOR</a></li>
                            <li><a href="Alumnos.html" class="dropdown-item"> AGREGAR ALUMNO</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-linK dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" id="dropdown-menu">MATERIA O CARRERA</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-menu">
                            <li class="dropdown">
                                <!--<li><a href="#" class="dropdown-item">BUSCAR LEGAJOS</a></li>-->
                            <li class="hd"></li>
                            <li><a href="#" class="dropdown-item">NUEVA CARRERA</a></li>
                            <li><a href="#" class="dropdown-item">NUEVA MATERIA</a></li>
                            <li><a href="#" class="dropdown-item">BUSCAR</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-linK dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" id="dropdown-menu">ASISTENCIAS</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-menu">
                            <li><a href="#" class="dropdown-item"> DE LOS PROFESORES</a></li>
                            <li><a href="#" class="dropdown-item"> DE LOS ALUMNOS</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-linK dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" id="dropdown-menu">EXAMENES</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-menu">
                            <li><a href="Nueva_Mesa.html" class="dropdown-item">NUEVA MESA</a></li>
                            <li><a href="Inscriptos.html" class="dropdown-item">INSCRIPTOS</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-linK dropdown-toggle" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false" id="dropdown-menu">NOTAS</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown-menu">
                            <li><a href="Nota_Final.html" class="dropdown-item">NOTA FINAL</a></li>
                            <li><a href="Resumen_de_Notas.html" class="dropdown-item">RESUMEN DE NOTAS</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div class="container contenedor">
        <!--Principal-->
        <main class="row mb-3 mt-3">
            <div class="col btn-group">
                <button class="btn btn-outline-light bg-gradient p-3 mx-1" type="button">NOTAS</button>
                <button class="btn btn-outline-light bg-gradient p-3 mx-1" type="button">EXAMENES</button>
                <button class="btn btn-outline-light bg-gradient p-3 mx-1" type="button">LEGAJOS</button>
            </div>
        </main>
    </div>
    <!--Footer-->
    <div class="container contenedor mt-3">
        <div class="row align-items-start">
            <div class="col">
                <p class="h1 text-light"> Footer</p>
            </div>
            <div class="col">
                <p class="h1 text-light"> Footer</p>
            </div>
            <div class="col">
                <p class="h1 text-light"> Footer</p>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>