@page "{usuario:int}"
@model ITSC.WebApp.Pages.DashboardModel
@{
    Layout = "_Layout";
}
@*<h1>Holis</h1>
<form>
    <select onchange="this.form.submit()">
        <option>blabla</option>
        <option>blabla2</option>

    </select>
</form>*@


