@page "{alumnoId:int}"
@model ITSC.WebApp.Pages.Alumnos.DetailModel
@{
}

<h1>Holis en detail de @Model.alumno.nombre @Model.alumno.apellido </h1>


<a class="btn btn-outline-secondary"
   asp-page="./List"><i class="bi bi-arrow-left-square text-lg-left"></i> Lista Alumnos</a>