@page "{alumnoId:int}"
@model ITSC.WebApp.Pages.Alumnos.DetailModel
@{
}

@if (Model.Mensaje != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Mensaje.
    </div>

}


<h1>Legajo @Model.alumno.apellido, @Model.alumno.nombre.</h1>



<a class="btn btn-outline-secondary"
   asp-page="./List"><i class="bi bi-arrow-left-square text-lg-left"></i> Lista Alumnos</a>