@page "{alumnoId:int?}"
@model ITSC.WebApp.Pages.Alumnos.EditModel
@{
}
    @if (@Model.alumno.id != 0)
            {
                <h1>Editando Legajo de @Model.alumno.apellido, @Model.alumno.nombre.</h1>
            } else
            {
                <h1>Cargando nuevo alumno.</h1>
            }
<form method="post">
    <input type="hidden" asp-for="alumno.id" />

    <div class="form-group">
        <label asp-for="alumno.nombre">Nombre:</label>
        <input asp-for="alumno.nombre" class="form-control"/>
        <span asp-validation-for="alumno.nombre" class="text-warning"></span>
    </div>

    <div class="form-group">
        <label asp-for="alumno.apellido">Apellido:</label>
        <input asp-for="alumno.apellido" class="form-control"/>
        <span asp-validation-for="alumno.apellido" class="text-warning" ></span>
    </div>

    <div class="form-group">
        <label asp-for="alumno.dni">DNI:</label>
        <input asp-for="alumno.dni" />
        <span asp-validation-for="alumno.dni" class="text-warning"></span>
    </div>

    @*<div class="form-group">
        <label asp-for="alumno.direccion_localidad">Localidad:</label>
        <select class="form-control"
                asp-for="alumno.direccion_localidad"
                asp-items="@Model.localidades"></select>
    </div>*@

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>